src/main/mule/mule-cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="mule-cicd-demoFlow" doc:id="dfe155c8-1338-4007-8c46-4d095b467837" >
		<scheduler doc:name="Scheduler" doc:id="868a9f77-2065-4efc-a56b-e3fa711c0212" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="77ba3762-0bd8-46b4-ade1-a70f8d333a9b" message='#["This is my CICD application"]'/>
	</flow>
</mule>
